# Игнорировать скомпилированные файлы и временные файлы
target/

# Игнорировать файл .env, чтобы не коммитить секреты
.env

# Игнорировать директорию миграций (если ты не хочешь её коммитить)
migrations/

.DS_Store
diesel.toml

# Игнорировать настройки IDE
.idea/
.vscode/

# Игнорировать все временные файлы и кэш
*.log
*.bak
*.swp
*.swo
Cargo.lock
